# Consistencia definición dificultad

In [1]:
import numpy as np
import pandas as pd
import os
from time import time
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [2]:
def significancia_variables(mod,var,replace_spaces = True, std_err = True):
    coef = "%.3f" % (np.round(mod.params[var], decimals = 3))
    se = "%.3f" % (np.round(mod.bse[var], decimals = 3))
    if mod.params[var] > 0:
        output = '~' + str(coef)                 
    else:
        output = str(coef)
    if std_err:
        output = output + ' (' + str(se) + ')'   
    pval = np.round(mod.pvalues[var], 3)
    if pval < 0.01:
        output = output + '***'
    elif pval < 0.05 and pval >= 0.01:
        output = output + '**~'
    elif pval < 0.1 and pval >=0.05:
        output = output + '*~~'
    else:
        output = output + '~~~'
    if replace_spaces:
        output = output.replace("~"," ")
    return output

In [3]:
def ArmarDatosLogit(datadir, regdir, liga):
    arch_liga = liga + '.xlsx'
    df = pd.read_excel(os.path.join(datadir,arch_liga))
    df_reg = pd.read_excel(os.path.join(regdir,arch_liga))
    df = df[['Torneo','Local','Visita','goles L','goles V']]
    cols_categoria = [i for i in df_reg.columns if 'categoria' in i]
    df_reg = df_reg[['equipo','Torneo'] + cols_categoria]
    for col in cols_categoria:
        df_reg[col] = df_reg[col].astype('category')
        df_reg[col].cat.reorder_categories(['regular', 'facil','dificil'], inplace = True)
    conditions = [
        (df['goles L'] > df['goles V']),
        (df['goles L'] < df['goles V'])]
    choices = ['local', 'visita']
    df['outcome'] = np.select(conditions, choices, default = 'empate')
    df_reg_l = df_reg[[i for i in df_reg.columns if 'visita' not in i]]
    df_reg_l = df_reg_l[['Torneo','equipo'] + [i for i in df_reg_l if i not in ['equipo','Torneo']]]
    df_reg_l.columns = ['Torneo','Local'] + [i + '_l' for i in df_reg_l if i not in ['equipo','Torneo']]
    df_reg_v = df_reg[[i for i in df_reg.columns if 'local' not in i]]
    df_reg_v = df_reg_v[['Torneo','equipo'] + [i for i in df_reg_v if i not in ['equipo','Torneo']]]
    df_reg_v.columns = ['Torneo','Visita'] + [i + '_v' for i in df_reg_v if i not in ['equipo','Torneo']]
    df_logit = df.merge(df_reg_l,
                        how = 'left',
                        left_on = ['Torneo','Local'],
                        right_on = ['Torneo','Local'])
    df_logit = df_logit.merge(df_reg_v,
                        how = 'left',
                        left_on = ['Torneo','Visita'],
                        right_on = ['Torneo','Visita'])
    df_logit = df_logit[['Torneo','Local','Visita'] + [i for i in df_logit.columns if 'categoria' in i] + ['outcome']]
    return df_logit

## Consistencia definiciones ELO

In [4]:
def LogitProbGanarELO(df_logit, f_sig):
    dict_vars = {'rol[T.local]':'Localía',
                 'categoria_rival[T.facil]':'Rival fácil',
                 'categoria_rival[T.dificil]':'Rival difícil',
                 'rol[T.local]:categoria_rival[T.facil]':'Localía * Rival fácil',
                 'rol[T.local]:categoria_rival[T.dificil]':'Localía * Rival difícil'}
    cat_general = 'categoria_elo_c%s_%s'
#     cat_local = 'categoria_local_c%s_l'
#     cat_visita = 'categoria_visita_c%s_v'
    col_vars = [val for val in dict_vars.values()]
    # Categorias generales
    for c in [3,4,5]:
        col_betas = []
        df_logit_l = df_logit[(df_logit[cat_general % (c,'l')] == 'regular')]
        df_logit_l['rol'] = 'local'
        df_logit_l = df_logit_l[['Torneo','Local','Visita','rol',cat_general % (c,'v'),'outcome']]
        df_logit_l.rename(columns={'Local': 'Equipo',
                                   'Visita': 'Rival',
                                   cat_general % (c,'v'): 'categoria_rival'},
                          inplace=True)
        df_logit_l['outcome'] = [1 if i == 'local' else 0 for i in df_logit_l['outcome'].tolist()]
        df_logit_l = df_logit_l.reset_index(drop=True)
    
        df_logit_v = df_logit[(df_logit[cat_general % (c,'v')] == 'regular')]
        df_logit_v['rol'] = 'visita'
        df_logit_v = df_logit_v[['Torneo','Visita','Local','rol',cat_general % (c,'l'),'outcome']]
        df_logit_v.rename(columns={'Local': 'Rival',
                                   'Visita': 'Equipo',
                                   cat_general % (c,'l'): 'categoria_rival'},
                          inplace=True)
        df_logit_v['outcome'] = [1 if i == 'visita' else 0 for i in df_logit_v['outcome'].tolist()]
        df_logit_v = df_logit_v.reset_index(drop=True)
        df_logit_filt = pd.concat([df_logit_l,df_logit_v]).reset_index(drop=True)
        df_logit_filt['rol'] = df_logit_filt['rol'].astype('category')
        df_logit_filt['rol'].cat.reorder_categories(['visita', 'local'], inplace = True)
        formula = 'outcome ~ Equipo + Rival + Torneo + rol*categoria_rival'
        mod = smf.logit(formula = formula, data = df_logit_filt).fit(disp=False)
        for var in dict_vars.keys():
            col_betas.append(f_sig(mod,var, std_err = False))
        if c < 4:
            df_logit_res = pd.DataFrame({'Variable': col_vars, 'l = %s' % c : col_betas})
        else:
            df_logit_res['l = %s' % c] = col_betas
    return df_logit_res

In [5]:
datadir = os.path.join(os.path.pardir,'datos','ligas')
regdir = os.path.join(os.path.pardir,'datos','regresiones')
ligas = ['Alemania','Espana','Francia','Inglaterra','Italia']
dfs_elo = []
for liga in ligas:
#     print('Liga: %s' % liga)
#     print('Definición general')
    df_logit = ArmarDatosLogit(datadir, regdir, liga)
    dfs_elo.append(LogitProbGanarELO(df_logit, f_sig = significancia_variables))
outputdir = os.path.join(os.path.pardir,'resultados','consistencia-dificultad')
outputfile = 'consistencia-elo.xlsx'
writer = pd.ExcelWriter(os.path.join(outputdir, outputfile), engine='xlsxwriter')
for df, sheet in zip(dfs_elo, ligas):
    df.to_excel(writer, sheet_name = sheet, index = False)
writer.save()

In [6]:
#Alemania
dfs_elo[0]

                  Variable      l = 3      l = 4      l = 5
0                  Localía   0.840***   0.811***   0.956***
1              Rival fácil   0.066      0.085      0.124
2            Rival difícil  -0.070     -0.190     -0.094
3    Localía * Rival fácil  -0.056     -0.085     -0.369**
4  Localía * Rival difícil   0.036      0.096     -0.067

In [7]:
#España
dfs_elo[1]

                  Variable      l = 3      l = 4      l = 5
0                  Localía   0.929***   0.884***   0.842***
1              Rival fácil  -0.174     -0.257**   -0.199*
2            Rival difícil  -0.732***  -0.605***  -0.469***
3    Localía * Rival fácil   0.103      0.134      0.136
4  Localía * Rival difícil   0.287      0.459***   0.584***

In [8]:
#Francia
dfs_elo[2]

                  Variable      l = 3      l = 4      l = 5
0                  Localía   0.838***   0.858***   0.943***
1              Rival fácil  -0.141     -0.056      0.024
2            Rival difícil  -0.471**   -0.406**   -0.120
3    Localía * Rival fácil   0.117     -0.007     -0.186
4  Localía * Rival difícil   0.224      0.106     -0.146

In [9]:
#Inglaterra
dfs_elo[3]

                  Variable      l = 3      l = 4      l = 5
0                  Localía   0.834***   0.780***   0.804***
1              Rival fácil   0.103      0.029      0.058
2            Rival difícil  -0.495***  -0.675***  -0.595***
3    Localía * Rival fácil   0.232**    0.319***   0.197*
4  Localía * Rival difícil   0.267**    0.385***   0.271**

In [10]:
#Italia
dfs_elo[4]

                  Variable      l = 3      l = 4      l = 5
0                  Localía   0.969***   0.928***   1.007***
1              Rival fácil   0.238**    0.139      0.040
2            Rival difícil  -0.367**   -0.374**   -0.069
3    Localía * Rival fácil  -0.129     -0.117     -0.194
4  Localía * Rival difícil   0.025      0.108     -0.055

## Consistencia definiciones General

In [11]:
def LogitProbGanarGeneral(df_logit, f_sig):
    dict_vars = {'rol[T.local]':'Localía',
                 'categoria_rival[T.facil]':'Rival fácil',
                 'categoria_rival[T.dificil]':'Rival difícil',
                 'rol[T.local]:categoria_rival[T.facil]':'Localía * Rival fácil',
                 'rol[T.local]:categoria_rival[T.dificil]':'Localía * Rival difícil'}
    cat_general = 'categoria_general_h%s_c%s_%s'
#     cat_local = 'categoria_local_c%s_l'
#     cat_visita = 'categoria_visita_c%s_v'
    col_vars = [val for val in dict_vars.values()]
    # Categorias generales
    for h in [1,2,3,4,5]:
        for c in [3,4,5]:
            col_betas = []
            df_logit_l = df_logit[(df_logit[cat_general % (h, c,'l')] == 'regular')]
            df_logit_l['rol'] = 'local'
            df_logit_l = df_logit_l[['Torneo','Local','Visita','rol',cat_general % (h, c,'v'),'outcome']]
            df_logit_l.rename(columns={'Local': 'Equipo',
                                       'Visita': 'Rival',
                                       cat_general % (h, c,'v'): 'categoria_rival'},
                              inplace=True)
            df_logit_l['outcome'] = [1 if i == 'local' else 0 for i in df_logit_l['outcome'].tolist()]
            df_logit_l = df_logit_l.reset_index(drop=True)

            df_logit_v = df_logit[(df_logit[cat_general % (h, c,'v')] == 'regular')]
            df_logit_v['rol'] = 'visita'
            df_logit_v = df_logit_v[['Torneo','Visita','Local','rol',cat_general % (h, c,'l'),'outcome']]
            df_logit_v.rename(columns={'Local': 'Rival',
                                       'Visita': 'Equipo',
                                       cat_general % (h, c,'l'): 'categoria_rival'},
                              inplace=True)
            df_logit_v['outcome'] = [1 if i == 'visita' else 0 for i in df_logit_v['outcome'].tolist()]
            df_logit_v = df_logit_v.reset_index(drop=True)
            df_logit_filt = pd.concat([df_logit_l,df_logit_v]).reset_index(drop=True)
            df_logit_filt['rol'] = df_logit_filt['rol'].astype('category')
            df_logit_filt['rol'].cat.reorder_categories(['visita', 'local'], inplace = True)
            formula = 'outcome ~ Equipo + Rival + Torneo + rol*categoria_rival'
            mod = smf.logit(formula = formula, data = df_logit_filt).fit(disp=False)
            for var in dict_vars.keys():
                col_betas.append(f_sig(mod,var, std_err = False))
            if c < 4 and h < 2:
                df_logit_res = pd.DataFrame({'Variable': col_vars, 'h = %s, l = %s' % (h,c) : col_betas})
            else:
                df_logit_res['h = %s, l = %s' % (h,c)] = col_betas
    return df_logit_res

In [12]:
datadir = os.path.join(os.path.pardir,'datos','ligas')
regdir = os.path.join(os.path.pardir,'datos','regresiones')
ligas = ['Alemania','Espana','Francia','Inglaterra','Italia']
dfs_general = []
for liga in ligas:
#     print('Liga: %s' % liga)
#     print('Definición general')
    df_logit = ArmarDatosLogit(datadir, regdir, liga)
    dfs_general.append(LogitProbGanarGeneral(df_logit, f_sig = significancia_variables))
outputdir = os.path.join(os.path.pardir,'resultados','consistencia-dificultad')
outputfile = 'consistencia-general.xlsx'
writer = pd.ExcelWriter(os.path.join(outputdir, outputfile), engine='xlsxwriter')
for df, sheet in zip(dfs_general, ligas):
    df.to_excel(writer, sheet_name = sheet, index = False)
writer.save()

In [13]:
#Alemania
dfs_general[0]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,0.818***,0.714***,0.521***,0.902***,0.931***,1.036***,0.973***,0.899***,1.007***,0.868***,0.937***,0.926***,0.818***,0.944***,1.087***
1,Rival fácil,0.031,-0.033,-0.068,0.271**,0.304**,0.356***,0.177,0.224*,0.262*,-0.070,0.069,-0.052,-0.112,0.007,0.153
2,Rival difícil,-0.011,-0.171,-0.321**,-0.123,-0.399***,-0.318*,-0.023,-0.141,-0.046,-0.167,-0.261*,-0.417***,-0.166,-0.038,0.220
3,Localía * Rival fácil,-0.004,0.004,0.212,-0.305**,-0.315**,-0.426**,-0.372**,-0.289*,-0.366**,-0.122,-0.172,-0.169,-0.008,-0.316**,-0.414**
4,Localía * Rival difícil,-0.041,0.157,0.398*,-0.066,0.211,0.026,-0.079,0.149,-0.023,-0.046,0.010,0.072,0.127,-0.037,-0.210

In [14]:
#Espana
dfs_general[1]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,1.093***,1.110***,1.053***,0.909***,0.951***,0.959***,0.860***,0.878***,0.883***,0.929***,0.936***,0.830***,0.893***,0.831***,0.803***
1,Rival fácil,0.137,0.118,0.204*,-0.126,-0.119,0.019,-0.275**,-0.302**,-0.247*,-0.011,-0.051,-0.064,-0.056,-0.089,-0.118
2,Rival difícil,-0.448**,-0.215,-0.244,-0.637***,-0.354**,-0.200,-0.153,-0.112,-0.006,-0.040,-0.019,-0.131,-0.020,-0.013,0.080
3,Localía * Rival fácil,-0.247**,-0.145,-0.095,0.180,0.110,0.068,0.226*,0.240*,0.189,-0.036,-0.078,0.129,0.205,0.325**,0.324**
4,Localía * Rival difícil,0.073,-0.013,0.177,0.322*,0.045,0.050,0.178,0.116,0.048,0.202,0.048,0.235,0.211,0.207,0.216

In [15]:
#Francia
dfs_general[2]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,0.847***,0.979***,1.086***,0.858***,0.901***,0.835***,0.911***,0.938***,0.960***,0.945***,0.863***,0.899***,0.882***,0.962***,0.974***
1,Rival fácil,-0.183,0.003,0.177,-0.292*,-0.156,-0.037,-0.161,-0.146,-0.061,-0.202,-0.367**,-0.193,-0.015,-0.097,0.043
2,Rival difícil,-0.372*,-0.221,0.007,-0.443**,-0.381**,-0.582***,-0.335*,-0.449**,-0.501**,-0.020,-0.252,-0.192,0.098,0.018,0.095
3,Localía * Rival fácil,0.051,-0.123,-0.331*,-0.079,-0.156,-0.025,-0.124,-0.154,-0.164,-0.034,0.082,-0.034,-0.033,-0.087,-0.147
4,Localía * Rival difícil,0.163,-0.173,-0.204,0.251,0.052,0.228,0.083,-0.005,-0.027,-0.124,-0.007,0.018,0.046,-0.104,-0.058

In [16]:
#Inglaterra
dfs_general[3]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,0.872***,0.829***,0.740***,0.855***,0.845***,0.764***,0.887***,0.852***,0.861***,0.946***,0.910***,0.841***,0.885***,0.852***,0.796***
1,Rival fácil,0.137*,0.179**,0.053,0.016,-0.000,-0.141,-0.021,-0.122,-0.181**,0.040,-0.050,-0.098,-0.034,-0.011,-0.054
2,Rival difícil,-0.613***,-0.742***,-0.617***,-0.603***,-0.728***,-0.725***,-0.349***,-0.363***,-0.418***,-0.004,-0.106,-0.030,0.191**,0.168**,0.230***
3,Localía * Rival fácil,0.095,0.152,0.297***,0.098,0.132,0.248**,0.014,0.149,0.124,-0.034,0.014,0.100,0.110,0.060,0.186*
4,Localía * Rival difícil,0.249*,0.402***,0.392***,0.326**,0.411***,0.458***,0.297**,0.338***,0.325**,-0.136,-0.000,0.053,0.019,-0.016,0.061

In [17]:
#Italia
dfs_general[4]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,1.048***,1.028***,1.123***,0.956***,0.976***,1.070***,0.932***,1.002***,1.001***,1.005***,0.967***,1.037***,0.855***,0.789***,0.827***
1,Rival fácil,0.276***,0.219**,0.303**,0.179*,0.108,0.126,-0.063,-0.049,0.010,-0.075,-0.204,-0.023,-0.075,-0.237**,-0.166
2,Rival difícil,-0.411**,-0.320**,-0.115,-0.333**,-0.416**,-0.153,-0.316*,-0.077,-0.126,0.243*,0.060,0.164,-0.040,-0.075,-0.007
3,Localía * Rival fácil,-0.326***,-0.248*,-0.324**,-0.145,-0.200,-0.322**,0.039,-0.038,-0.011,-0.062,0.023,-0.165,0.181,0.290**,0.250*
4,Localía * Rival difícil,-0.039,0.041,-0.121,-0.061,0.060,-0.062,-0.070,-0.200,-0.147,-0.223,-0.097,-0.173,0.110,0.150,0.046

## Consistencia definiciones LV

In [18]:
def LogitProbGanarLV(df_logit, f_sig):
    dict_vars = {'rol[T.local]':'Localía',
                 'categoria_rival[T.facil]':'Rival fácil',
                 'categoria_rival[T.dificil]':'Rival difícil',
                 'rol[T.local]:categoria_rival[T.facil]':'Localía * Rival fácil',
                 'rol[T.local]:categoria_rival[T.dificil]':'Localía * Rival difícil'}
#     cat_general = 'categoria_general_c%s_%s'
    cat_local = 'categoria_local_h%s_c%s_l'
    cat_visita = 'categoria_visita_h%s_c%s_v'
    col_vars = [val for val in dict_vars.values()]
    for h in [1,2,3,4,5]:
        for c in [3,4,5]:
            col_betas = []
            df_logit_l = df_logit[(df_logit[cat_local % (h,c)] == 'regular')]
            df_logit_l['rol'] = 'local'
            df_logit_l = df_logit_l[['Torneo','Local','Visita','rol',cat_visita % (h,c),'outcome']]
            df_logit_l.rename(columns={'Local': 'Equipo',
                                       'Visita': 'Rival',
                                       cat_visita % (h,c): 'categoria_rival'},
                              inplace=True)
            df_logit_l['outcome'] = [1 if i == 'local' else 0 for i in df_logit_l['outcome'].tolist()]
            df_logit_l = df_logit_l.reset_index(drop=True)

            df_logit_v = df_logit[(df_logit[cat_visita % (h,c)] == 'regular')]
            df_logit_v['rol'] = 'visita'
            df_logit_v = df_logit_v[['Torneo','Visita','Local','rol',cat_local % (h,c),'outcome']]
            df_logit_v.rename(columns={'Local': 'Rival',
                                       'Visita': 'Equipo',
                                       cat_local % (h,c): 'categoria_rival'},
                              inplace=True)
            df_logit_v['outcome'] = [1 if i == 'visita' else 0 for i in df_logit_v['outcome'].tolist()]
            df_logit_v = df_logit_v.reset_index(drop=True)
            df_logit_filt = pd.concat([df_logit_l,df_logit_v]).reset_index(drop=True)
            df_logit_filt['rol'] = df_logit_filt['rol'].astype('category')
            df_logit_filt['rol'].cat.reorder_categories(['visita', 'local'], inplace = True)
            formula = 'outcome ~ Equipo + Rival + Torneo + rol*categoria_rival'
            mod = smf.logit(formula = formula, data = df_logit_filt).fit(disp=False)
            for var in dict_vars.keys():
                col_betas.append(f_sig(mod,var, std_err = False))
            if c < 4 and h < 2:
                df_logit_res = pd.DataFrame({'Variable': col_vars, 'h = %s, l = %s' % (h,c) : col_betas})
            else:
                df_logit_res['h = %s, l = %s' % (h,c)] = col_betas
    return df_logit_res

In [19]:
datadir = os.path.join(os.path.pardir,'datos','ligas')
regdir = os.path.join(os.path.pardir,'datos','regresiones')
ligas = ['Alemania','Espana','Francia','Inglaterra','Italia']
dfs_lv = []
for liga in ligas:
#     print('Liga: %s' % liga)
#     print('Definición general')
    df_logit = ArmarDatosLogit(datadir, regdir, liga)
    dfs_lv.append(LogitProbGanarLV(df_logit, f_sig = significancia_variables))
outputdir = os.path.join(os.path.pardir,'resultados','consistencia-dificultad')
outputfile = 'consistencia-localvisita.xlsx'
writer = pd.ExcelWriter(os.path.join(outputdir, outputfile), engine='xlsxwriter')
for df, sheet in zip(dfs_lv, ligas):
    df.to_excel(writer, sheet_name = sheet, index = False)
writer.save()

In [20]:
# Alemania
dfs_lv[0]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,0.773***,0.675***,0.702***,0.893***,0.932***,0.954***,0.934***,0.796***,0.697***,0.833***,0.825***,0.907***,0.797***,0.731***,0.842***
1,Rival fácil,0.211*,-0.010,0.087,0.267**,0.356***,0.293**,0.139,0.173,0.083,0.047,0.040,0.125,-0.034,0.016,0.117
2,Rival difícil,-0.291*,-0.169,-0.116,-0.063,-0.028,0.019,0.039,-0.126,-0.235,-0.083,-0.062,-0.053,-0.217,-0.154,-0.088
3,Localía * Rival fácil,-0.077,0.103,-0.051,-0.229,-0.332**,-0.280,-0.204,-0.151,0.018,-0.020,-0.087,-0.248,-0.037,0.058,-0.195
4,Localía * Rival difícil,0.199,0.043,0.012,-0.068,-0.084,-0.044,-0.073,0.169,0.341*,-0.052,0.050,-0.084,0.204,0.277,0.129

In [21]:
# Espana
dfs_lv[1]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,1.072***,1.076***,0.942***,0.988***,0.901***,0.861***,0.950***,0.932***,0.957***,0.960***,0.868***,0.925***,0.952***,0.948***,0.852***
1,Rival fácil,0.042,0.084,0.013,-0.040,-0.108,-0.036,-0.059,-0.058,0.003,-0.148,-0.118,-0.112,-0.139,-0.046,-0.066
2,Rival difícil,-0.075,-0.124,-0.220,-0.235,-0.348**,-0.327**,-0.438**,-0.422***,-0.268*,-0.429**,-0.515***,-0.191,-0.136,-0.252,-0.407**
3,Localía * Rival fácil,-0.067,0.004,0.116,0.023,0.141,0.171,-0.001,0.069,-0.018,0.046,0.141,0.160,0.031,0.024,0.200
4,Localía * Rival difícil,-0.194,0.053,0.311,-0.008,0.238,0.204,0.183,0.264,0.250,0.110,0.312*,0.172,0.170,0.174,0.362**

In [22]:
# Francia
dfs_lv[2]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,0.849***,0.799***,0.689***,0.961***,0.835***,0.799***,0.847***,0.856***,0.896***,0.769***,0.791***,0.646***,0.836***,0.858***,0.811***
1,Rival fácil,-0.070,-0.083,-0.166,0.058,-0.056,-0.216,-0.182,-0.003,0.018,-0.061,-0.119,-0.192,-0.077,0.051,0.060
2,Rival difícil,-0.232,-0.048,-0.209,-0.163,-0.206,-0.233,-0.218,-0.117,-0.138,-0.535***,-0.383**,-0.461**,-0.039,-0.234,-0.320*
3,Localía * Rival fácil,-0.000,0.045,0.244,-0.162,0.128,0.138,0.088,-0.023,0.018,0.225,0.185,0.402**,0.055,-0.029,0.020
4,Localía * Rival difícil,-0.092,-0.120,0.039,0.040,0.180,0.289,0.146,-0.000,-0.080,0.355*,0.104,0.164,-0.011,0.072,0.117

In [23]:
# Inglaterra
dfs_lv[3]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,0.834***,0.808***,0.731***,0.887***,0.795***,0.833***,0.894***,0.862***,0.861***,0.925***,0.897***,0.893***,0.852***,0.892***,0.839***
1,Rival fácil,0.047,0.050,0.001,0.144*,0.063,0.056,0.174**,0.173**,0.108,0.221***,0.212***,0.101,0.127,0.196**,0.072
2,Rival difícil,-0.614***,-0.671***,-0.544***,-0.658***,-0.608***,-0.524***,-0.578***,-0.622***,-0.595***,-0.627***,-0.582***,-0.438***,-0.521***,-0.489***,-0.460***
3,Localía * Rival fácil,0.159*,0.158,0.287**,0.016,0.202**,0.149,0.022,0.074,0.072,-0.100,-0.053,0.055,0.007,-0.068,0.122
4,Localía * Rival difícil,0.401***,0.451***,0.378***,0.309**,0.454***,0.324**,0.186,0.356***,0.313**,0.202,0.286**,0.080,0.392***,0.263**,0.169

In [24]:
# Italia
dfs_lv[4]

,Variable,"h = 1, l = 3","h = 1, l = 4","h = 1, l = 5","h = 2, l = 3","h = 2, l = 4","h = 2, l = 5","h = 3, l = 3","h = 3, l = 4","h = 3, l = 5","h = 4, l = 3","h = 4, l = 4","h = 4, l = 5","h = 5, l = 3","h = 5, l = 4","h = 5, l = 5"
0,Localía,0.888***,0.916***,0.899***,0.911***,0.939***,0.834***,0.995***,0.977***,0.911***,0.979***,0.939***,0.954***,1.022***,0.981***,0.963***
1,Rival fácil,0.148,0.040,0.126,0.066,0.023,-0.002,0.176*,0.119,-0.053,0.104,0.047,0.059,0.032,0.059,0.064
2,Rival difícil,-0.402**,-0.495***,-0.432***,-0.297*,-0.328**,-0.352**,-0.053,-0.185,-0.191,-0.108,0.027,-0.187,0.060,0.018,0.084
3,Localía * Rival fácil,-0.072,0.021,0.029,-0.119,-0.085,0.058,-0.193,-0.192,0.046,-0.165,-0.052,-0.106,-0.140,-0.075,-0.111
4,Localía * Rival difícil,0.141,0.266,0.188,0.023,0.151,0.136,-0.300*,0.014,0.049,-0.191,-0.099,0.117,-0.311*,-0.117,-0.053